# Telegram Bot Configuration
API_ID=10248430
API_HASH=42396a6ff14a569b9d59931643897d0d
BOT_TOKEN=5709229627:AAHWn-lp3r3BXK7kRs8_vnmRIQnUMHRV2bU

# MongoDB Database URL
MONGO_URL=mongodb+srv://AyraMusic:Ayra@cluster0.gnakzem.mongodb.net/?retryWrites=true&w=majority

# Bot Customization
BOT_NAME="Cobra Chatbot"
BOT_USERNAME="CobraChatBot"
OWNER_USERNAME="COVIDBABA"
SUPPORT_GROUP="https://t.me/+IdSOWT2mDr9hOTQ1"
UPDATE_CHANNEL="https://t.me/+CN0MlYIFGsAyNGI1"

# Thumbnail / Media URL (mp4 animation/video or image)
MEDIA_URL="https://graph.org/file/a0d949ae033c97bb60c0b-238eeecbc9c32d092f.mp4"
